.seat-column{
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 3px;
    cursor: pointer;
    background: #fff;
    font-size: 11px;
    font-family: sans-serif;
    line-height: 28px;
    color: #aaa;
}
.seat-column:hover{
    background: green;
    color: #fff;
}
.seat-column::selection{
    background: green;
}
.select-seat-container{
    text-align: center;
    padding: 10px;
    background: #f2f2f2;
}
.leftRow{
    display: inline-block;
    margin-right: 10px;
}
.rightRow{
    display: inline-block;
    margin-left: 10px;
}
.sear-row{
    display:block;
}
.confirn-btn{
    background: #0078ff;
    margin: 15px auto;
    width: 40%;
    padding: 15px 70px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: sans-serif;
    cursor: pointer;
    font-size: 12px;
}